.home-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.catalog-bar {
  position: absolute;
  z-index: 2;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
}
.catalog-bar button {
  background: transparent;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;             
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
}
.catalog-bar button:hover {
  color: black;              
  background: none;          
}

/* Mobile layout */
@media (max-width: 768px) {
  .catalog-bar {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    font-size: 1.2rem;
  }

.catalog-bar button {
    width: 80vw;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 800;            
    color: white;               
  }
.catalog-bar button:hover {
  color: black;              
  background: none; 
}
}